* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(ocean.png);
}
#nav-main #nav1 {
    transition: all ease-in-out 200ms;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 400px;
    background-color: grey;
    opacity: 0.7;
    left: -400px;
}

#burger {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 52px;
    height: 52px;
    background-color: #fff;
    transition: all ease-in-out 200ms;
    cursor: pointer;
    float: left;
}
#burger span{
    background: black;
    display: block;
    margin: 5px 5px;
    height: 7px;
    position: relative;
    transition: all ease-in-out 0.4s;
    opacity: 0.5;

}
/*
#burger.open span:nth-child(1){
    transform: rotate(45deg);
}
#burger.open span:nth-child(2){
    transform: rotate(45deg);
}
*/
#nav-main #nav1 ul{
    padding: 100px 25px 40px 35px;
    list-style: none;text-align: center;

}
ul li a{
    text-decoration: none;
    font-size: 35px;
    color: black;
    cursor: pointer;
}
#nav1 input{
    float: right;
    margin-top: 7px;
    padding: 10px;
    font-size: 19px;
}
#nav1 button{
    float: right;
    margin-top: 7px;
    padding: 10px;
    font-size: 21px;
    background-color: black;
    color: white;
    cursor: pointer;
}
